[submodule "vim/bundle/colors"]
	path = vim/bundle/colors
	url = git://github.com/altercation/vim-colors-solarized.git

[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
  url = https://github.com/scrooloose/nerdcommenter.git

[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git

[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git

[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline

[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
  url =  https://github.com/editorconfig/editorconfig-vim.git

